/Calculator/nbproject/private/
/Calculator/build/
/Tetris/dist/
/Pacman/nbproject/private/
/PacmanGame/nbproject/private/
/PacmanGame/build/
/PacmanGame/dist/
/BGB Downloader/nbproject/private/
/BGB Downloader/build/
/BGB Downloader/dist/
/ITDS221_Question 2/nbproject/private/